
    <!-- Sidebar -->
    <nav
         id="sidebarMenu"
         class="collapse d-lg-block sidebar collapse bg-white"
         >
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4 sideBar">
          <a
             routerLink="Dashboard"
             routerLinkActive="ActiveSideButton"
             class="list-group-item list-group-item-action py-2 ripple"
             aria-current="true"
             >
             <i class="bi bi-speedometer"></i>
             <span>Dashboard</span>
          </a>
          <a
             routerLink="Customers"
             routerLinkActive="ActiveSideButton"
             class="list-group-item list-group-item-action py-2 ripple"
             >
             <i class="bi bi-people-fill"></i><span>Customers</span>
          </a>
          <a
             routerLink="Orders"
             routerLinkActive="ActiveSideButton"
             class="list-group-item list-group-item-action py-2 ripple"
             ><i class="bi bi-bag-fill"></i><span>Orders</span></a>
          <a
             routerLink="Inventory"
             routerLinkActive="ActiveSideButton"
             class="list-group-item list-group-item-action py-2 ripple"
             ><i class="bi bi-stack"></i><span>Inventory</span></a>
          <a
             href="#"
             class="list-group-item list-group-item-action py-2 ripple"
             >
            <i class="fas fa-chart-pie fa-fw me-3"></i><span>Our Dealers</span>
          </a>         
          <a
             href="#"
             class="list-group-item list-group-item-action py-2 ripple"
             ><i class="fas fa-money-bill fa-fw me-3"></i><span>About us</span></a
            >
        </div>
      </div>
    </nav>
    <!-- Sidebar --> 
    
  
  
 