<!--Main Navigation-->
<header>
    <!-- Sidebar -->
    <nav
         id="sidebarMenu"
         class="collapse d-lg-block sidebar collapse bg-white"
         >
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4 sideBar">
          <a
             routerLink="Dashboard"
             routerLinkActive="ActiveSideButton"
             class="list-group-item list-group-item-action py-2 ripple"
             aria-current="true"
             >
             <i class="bi bi-speedometer"></i>
             <span>Dashboard</span>
          </a>
          <a
             routerLink="Customers"
             routerLinkActive="ActiveSideButton"
             class="list-group-item list-group-item-action py-2 ripple"
             >
             <i class="bi bi-people-fill"></i><span>Customers</span>
          </a>
          <a
             routerLink="Orders"
             routerLinkActive="ActiveSideButton"
             class="list-group-item list-group-item-action py-2 ripple"
             ><i class="bi bi-bag-fill"></i><span>Orders</span></a>
          <a
             routerLink="Inventory"
             routerLinkActive="ActiveSideButton"
             class="list-group-item list-group-item-action py-2 ripple"
             ><i class="bi bi-stack"></i><span>Inventory</span></a>
          <a
             href="#"
             class="list-group-item list-group-item-action py-2 ripple"
             >
            <i class="fas fa-chart-pie fa-fw me-3"></i><span>Our Dealers</span>
          </a>         
          <a
             href="#"
             class="list-group-item list-group-item-action py-2 ripple"
             ><i class="fas fa-money-bill fa-fw me-3"></i><span>About us</span></a
            >
        </div>
      </div>
    </nav>
    <!-- Sidebar -->
  
    <!-- Navbar -->
    <nav
         id="main-navbar"
         class="navbar navbar-expand-lg navbar-light bg-white fixed-top"
         >
      <!-- Container wrapper -->
      <div class="container-fluid">
        <!-- Toggle button -->
        <a
                href="#sidebarMenu"
                role="button"
                data-bs-toggle="collapse"                
                aria-controls="sidebarMenu"
                aria-expanded="false"   
                class="navbar-toggler me-3"             
                >
                <i class="bi bi-list" style="font-size:35px" ></i>
        </a>
  
        <!-- Brand -->
        <a class="navbar-brand" href="#">
          <h2>BooksStack</h2>
        </a>
       
       
      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
  </header>
  <!--Main Navigation-->
  
  <!--Main layout-->
  <main style="margin-top: 58px">
    <div class="container pt-4">
        <router-outlet></router-outlet>
    </div>
  </main>
  <!--Main layout-->